<!-- <div class="header__container">
  <button (click)="toggleMode()" class="ml-1 mr-3 focus:outline-none m-0">
    <span *ngIf="isDarkMode; else lightMode" id="darkMode" class="material-icons">dark_mode</span>
    <ng-template #lightMode>
      <span id="lightMode" class="material-icons">light_mode</span>
    </ng-template>
  </button>

  <p>Controle de finanças: Total de despesas de {{ selectedMonthFullName }}:
    {{ despesasTotal }}
  </p>

  <button class="btn-apagar-todas" (click)="apagarDespesasDoMes(selectedMonthNumber)" title="Apagar as despesas do mês">

    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="red">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
    </svg>
  </button>


</div> -->
<div class="header__container">


  <!-- Primeira Div: Texto com informações -->
  <div class="header__item">
    <p>
      Controle de finanças: Total de despesas de {{ selectedMonthFullName }}:
      {{ despesasTotal }}
    </p>
  </div>

  <!-- Segunda Div: Botão para apagar despesas -->
  <div class="header__item">

  </div>

  <!-- Terceira Div: Botão de alternar tema -->
  <div class="header__item">
    <button class="btn-apagar" (click)="apagarDespesasDoMes(selectedMonthNumber)" title="Apagar as despesas do mês">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="red">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
      </svg>
    </button>
    <button (click)="toggleMode()" class="toggle">
      <span *ngIf="isDarkMode; else lightMode" id="darkMode" class="material-icons">
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 0 24 24" width="40px" fill="#fff">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M17 7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h10c2.76 0 5-2.24 5-5s-2.24-5-5-5zM7 15c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z" />
        </svg>
      </span>
      <ng-template #lightMode>
        <span id="lightMode" class="material-icons">
          <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 0 24 24" width="40px" fill="#1CB3CA">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M17 7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h10c2.76 0 5-2.24 5-5s-2.24-5-5-5zm0 8c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z" />
          </svg>
        </span>
      </ng-template>
    </button>


  </div>


</div>