.header__container {
  width: 70%;
  height: 50px;
  margin: 10px auto; /* Centraliza horizontalmente */
  display: grid;
  grid-template-columns: auto 1fr auto auto; /* Tabela: botões nas laterais e texto centralizado */
  align-items: center; /* Alinha verticalmente todos os itens */
  gap: 20px; /* Espaçamento entre colunas */
  border: 1px solid grey;
  border-radius: 5px;
  border-style: double;
  color: var(--primary-text-color);
  box-sizing: border-box; /* Inclui padding na largura */
}

.header__container > button {
  background-color: transparent; /* Remove fundo do botão */
  border: none; /* Remove borda */
  padding: 5px; /* Adiciona padding para conforto */
  width: 50px; /* Largura fixa */
  height: 50px; /* Altura fixa */
  cursor: pointer;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: var(--primary-text-color);
  border-radius: 50%; /* Botões redondos */
  transition: background-color 0.3s ease; /* Animação ao passar o mouse */
}

.header__item .toggle {
  margin-right: -11px;
}

.header__item {
  display: flex;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap; /* Impede quebra de linha */
  color: var(--primary-text-color);
}

.header__item > p {
  margin-top: 10px;
  margin-left: 24px;
}

.header__item > button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Ajuste de tamanho */
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Animação ao passar o mouse */
}

.header__item button svg {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease-in-out; /* Animação ao passar o mouse */
}

.header__item button:hover svg {
  transform: scale(1.1); /* Aumenta ligeiramente o ícone ao passar o mouse */
}

.btn-apagar {
  background-color: none;
  color: white;
  border: 1px solid red;
  margin-top: -100px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-apagar-todas:hover {
  background-color: none;
}

#apagar {
  margin-left: -300px;
}

#toggle {
  margin-top: -50px;
}

/* Estilos para ícones de toggle */
#lightMode {
  color: #ffae00; /* Sol amarelo */
}

#darkMode {
  color: white; /* Lua branca */
}

#lightMode,
#darkMode {
  background-color: transparent; /* Remove fundo dos ícones */
  border: none; /* Remove borda dos ícones */
  box-shadow: none; /* Remove qualquer sombra */
  padding: 0; /* Remove padding */
  margin-left: 15px; /* Remove margens indesejadas */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
