/* -------------------- Contêiner -------------------- */

.container__month {
  background-color: transparent;
  color: var(--text-light);
  border-radius: 0.5rem; /* 8px */
  width: 100%;
  height: 33.75rem; /* 540px */
  max-height: 30rem; /* 800px */
  overflow-y: auto;
}

.container__month > p {
  margin-left: 0.625rem; /* 10px */
}

/* Estilizando para Chrome, Safari e Edge */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilizando para Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--button-menu-selected) transparent;
}

/* -------------------- Tabela -------------------- */

table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  border-radius: 5px;
}

table.month {
  border-collapse: separate; /* Necessário para bordas arredondadas */
  border-spacing: 0; /* Remove espaços entre células */
  border-radius: 8px; /* Define o raio das bordas arredondadas */
  overflow: hidden; /* Garante que os conteúdos sigam o formato */
  border: 1px solid grey; /* Bordas da tabela */
}

thead {
  background-color: var(--button-menu-selected);
  color: var(--text-light);
  font-size: 0.875rem; /* 14px */
}

th,
td {
  font-family: Tahoma, Geneva, Verdana, sans-serif, Arial;
  padding: 0.3125rem; /* 5px */
  text-align: center;
  border-bottom: 0.0625rem solid gray; /* 1px */
  border-left: 0.0625rem solid var(--scrollbar-color);
  border-right: 0.0625rem solid var(--scrollbar-color);
}

th:last-child,
td:last-child {
  /* Remove a borda da última coluna */
  border-right: 1px solid var(--scrollbar-hover);
}

/* -------------------- Largura de colunas -------------------- */

th:nth-child(2) {
  /* Para "Despesa" */
  width: 35%;
  max-width: 35%;
  min-width: 35%;
}

th:nth-child(3) {
  /* Para "Valor" */
  width: 15%;
  max-width: 15%;
  min-width: 15%;
}

th:nth-child(4) {
  /* Para "Vencimento" */
  width: 15%;
  max-width: 15%;
  min-width: 15%;
}

th:nth-child(5) {
  /* Para "Status" */
  width: 10%;
  max-width: 10%;
  min-width: 10%;
}

/* -------------------- Theme -------------------- */

/* Estilo para o modo escuro */
.dark-theme tbody tr:nth-child(even) {
  background-color: rgb(44, 44, 44);
  color: white;
}

.dark-theme tbody tr:nth-child(odd) {
  background-color: black;
}

/* Estilo para o modo claro */
.light-theme tbody tr:nth-child(even) {
  background-color: rgb(209, 208, 208);
  color: gray;
}

.light-theme tbody tr:nth-child(odd) {
  background-color: white;
  color: grey;
}

/* -------------------- Status -------------------- */

.status-pago {
  color: var(--status-paid);
  text-align: center;
}

.status-pendente {
  color: var(--status-pending);
  text-align: center;
}

.status-vencido {
  color: var(--status-due);
  text-align: center;
}

.status-hoje {
  color: var(--status-today);
  text-align: center;
}

/* -------------------- Botões -------------------- */

button {
  background: none;
  border: none;
  color: var(--text-light);
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 0.3125rem 0.625rem; /* 5px 10px */
  border-radius: 0.3125rem; /* 5px */
}

button:hover {
  transform: scale(var(--button-hover-scale));
}

/* Ações específicas */
button.pagar {
  color: var(--status-paid);
}

button.editar {
  color: var(--status-pending);
}

button.remover {
  color: var(--status-due);
}

button.pagar,
button.editar,
button.remover {
  font-size: 0.875rem;
}

button.pagar {
  font-size: 0.84rem;
}

/* Botão desabilitado */
button.status-pago {
  color: #a9a9a9;
  cursor: not-allowed;
  pointer-events: none;
}

/* -------------------- Filtro -------------------- */

.filter-select {
  background-color: var(--button-menu-selected); /* Fundo claro */
  border: none; /* Borda cinza */
  border-radius: 5px; /* Cantos arredondados */
  font-family: Tahoma, Geneva, Verdana, sans-serif, Arial;
  font-size: 0.875rem; /* 14px */
  font-weight: bold;
  color: white; /* Cor do texto */
  cursor: pointer; /* Cursor de seleção */
  text-align: center;
}

.filter-select:hover {
  background-color: var(--button-menu-selected); /* Fundo ao passar o mouse */
}

.filter-option {
  background-color: red;
  color: #000; /* Ajuste conforme o contraste desejado */
}

.mensagem-sem-despesas {
  text-align: center;
  font-style: italic;
  color: gray;
}

/* -------------------- Input Edição Ajustado -------------------- */
.input-nome {
  width: 50%;
}

.input-valor {
  width: 50%;
}

.input-venciento {
  width: 50%;
  width: 8rem; /* Controla a largura do campo */
  padding: 0.2rem; /* Reduz o espaço interno */
  font-size: 0.875rem; /* Ajusta o tamanho da fonte */
}

.input-nome,
.input-valor,
.input-vencimento {
  background-color: white; /* Mantém o fundo neutro */

  border: none; /* Remove bordas externas */
  padding: 0; /* Remove padding para alinhar com o texto */
  text-align: center; /* Centraliza o conteúdo */
  font-family: inherit; /* Herda a fonte da célula */
  font-size: inherit; /* 16px */
  color: black; /* Herda a cor da célula */
  outline: none; /* Remove o destaque padrão ao focar */
  box-sizing: border-box; /* Garante que o padding e bordas não alterem o tamanho */
  line-height: normal; /* Ajusta a altura da linha */
}

.input-nome:focus,
.input-valor:focus,
.input-vencimento:focus {
  border-bottom: 1px solid var(--button-menu-selected); /* Adiciona uma linha inferior ao focar */
  background-color: var(
    --button-menu-selected-hover
  ); /* Fundo sutil ao focar */
  color: var(--text-light); /* Cor clara ao focar */
}

/* Botões dentro das células */
td button {
  margin: 0; /* Remove margens extras */
  padding: 0.3125rem; /* 5px */
  font-size: 0.875rem; /* 14px */
  margin-right: 0.625rem; /* 10px em rem */
}

td button:last-child {
  margin-right: 0; /* Remove o espaçamento do último botão */
}

button.btn-salvar button.btn-cancelar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px; /* Ajusta o espaçamento interno do botão */
  margin-right: 20px; /* Adiciona espaçamento entre os botões */
}

/* Remove o espaçamento extra do último botão */
button.btn-cancelar {
  margin-right: 0;
}

/* Estilo para o botão de salvar */
button.btn-salvar {
  background-color: transparent;
  border: 1px solid #4caf50; /* Cor verde para o botão de salvar */
  color: #4caf50; /* Cor do texto do botão de salvar */
  font-size: 0.77rem; /* Tamanho da fonte */

  border-radius: 0.3125rem; /* Borda arredondada */
  cursor: pointer; /* Indica que é clicável */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo para o botão de salvar ao passar o mouse */
button.btn-salvar:hover {
  background-color: #4caf50; /* Cor de fundo ao passar o mouse */
  color: white; /* Cor do texto ao passar o mouse */
}

/* Estilo para o botão de cancelar */
button.btn-cancelar {
  background-color: transparent;
  border: 1px solid #f44336; /* Cor vermelha para o botão de cancelar */
  color: #f44336; /* Cor do texto do botão de cancelar */
  font-size: 0.875rem; /* Tamanho da fonte */

  border-radius: 0.3125rem; /* Borda arredondada */
  cursor: pointer; /* Indica que é clicável */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo para o botão de cancelar ao passar o mouse */
button.btn-cancelar:hover {
  background-color: #f44336; /* Cor de fundo ao passar o mouse */
  color: white; /* Cor do texto ao passar o mouse */
}
