<div class="container__month">
  <table class="month">
    <thead>
      <tr>
        <th>#</th>
        <th>Despesa</th>
        <th>Valor</th>
        <th>Vencimento</th>
        <th>
          <select id="statusFilter" class="filter-select" [(ngModel)]="statusSelecionado" (change)="onStatusChange()">
            <option value="Todos">Status</option>
            <option value="Pago">Pago</option>
            <option value="Pendente">Pendente</option>
            <option value="Vencido">Vencido</option>
            <option value="Vencendo">Vencendo</option>
          </select>
        </th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <!-- Exibe a mensagem quando não há despesas -->
      <tr *ngIf="despesas.length === 0">
        <td colspan="6" class="mensagem-sem-despesas">
          Não há despesas neste mês.
        </td>
      </tr>
      <!-- Exibe a mensagem quando não há despesas -->
      <tr *ngIf="despesas.length > 0 && despesasFiltradas.length === 0">
        <td colspan="6" class="mensagem-sem-despesas">
          Não foram encontradas despesas com este STATUS.
        </td>
      </tr>
      <!-- <tr *ngFor="let despesa of despesas; let i = index"> -->
      <tr *ngFor="let despesa of despesasFiltradas; let i = index">

        <td>{{ i + 1 }}</td>
        <!-- Alterna entre visualização e edição -->
        <ng-container *ngIf="despesaEditando?.id === despesa.id; else viewMode">
          <!-- Modo de Edição -->
          <td *ngIf="despesaEditando">
            <input [(ngModel)]="despesaEditando.nome" required class="input-nome" />
          </td>
          <td *ngIf="despesaEditando">
            <input type="number" [(ngModel)]="despesaEditando.valor" required class="input-valor" />
          </td>
          <td *ngIf="despesaEditando">
            <input type="date" [(ngModel)]="despesaEditando.vencimento" [ngModelOptions]="{ updateOn: 'blur' }" required
              class="input-vencimento" />
          </td>
          <td>
            <span>#</span>
          </td>
          <td>
            <button (click)="salvarEdicao()">💾</button>
            <button (click)="cancelarEdicao()">❌</button>
          </td>
        </ng-container>

        <!-- Modo de Visualização -->
        <ng-template #viewMode class="tabela-despesas">
          <td>{{ despesa.nome }}</td>
          <td>{{ formatCurrency(despesa.valor) }}</td>
          <td>{{ despesa.vencimento | date: 'dd/MM' }}</td>

          <td [ngClass]="{
            'status-pago': despesa.status === 'Pago',
            'status-pendente': despesa.status === 'Pendente',
            'status-vencido': despesa.status === 'Vencido',
            'status-hoje': despesa.status === 'Vencendo'
          }">
            {{ despesa.status }}
          </td>

          <td>
            <!-- Exibe o botão "Pagar" caso a despesa esteja pendente ou vencida -->
            <button class="pagar" (click)="pagarDespesa(despesa.id)"
              [disabled]="despesa.status === 'Pago' || despesa.disableButtons"
              [class.status-pago]="despesa.status === 'Pago'">﹩</button>
            <!-- Botão de edição, desabilitado se a despesa estiver paga -->
            <button class="editar" (click)="iniciarEdicao(despesa)" [disabled]="despesa.status === 'Pago'"
              [class.status-pago]="despesa.status === 'Pago'">↻</button>
            <button class="remover" (click)="removerDespesa(despesa)">&nbsp;x</button>
          </td>
        </ng-template>
      </tr>

    </tbody>
  </table>
</div>