/* -------------------- Contêiner -------------------- */

.container__month {
  background-color: transparent;
  color: var(--text-dark);
  border-radius: 0.3125rem; /* 8px */
  width: 100%;
  height: 33.75rem; /* 540px */
  max-height: 50rem; /* 800px */
  overflow-y: auto;
}

.container__month > p {
  margin-left: 0.625rem; /* 10px */
}

/* -------------------- Estilizando a Barra de Rolagem -------------------- */

/* Estilizando para Chrome, Safari e Edge */
::-webkit-scrollbar {
  width: 12px; /* largura da barra de rolagem vertical */
  height: 12px; /* altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
  background: transparent; /* cor do fundo da barra de rolagem */
  border-radius: 10px; /* borda arredondada da track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* cor do "polegar" da barra de rolagem */
  border-radius: 10px; /* borda arredondada do polegar */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* cor quando o polegar está sendo hoverizado */
}

/* Estilizando para Firefox */
* {
  scrollbar-width: auto; /* largura da barra de rolagem no Firefox */
  scrollbar-color: var(--button-menu-selected) transparent; /* cor do polegar e do track */
}

/* -------------------- Estilizando Tabelas -------------------- */

table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  border-radius: 5px;
}

/* Tabela com bordas arredondadas */
table.month {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.3125rem; /* Raio das bordas */
  border-style: double;
  overflow: hidden;
}

thead {
  background-color: var(--month-title);
  color: var(--text-dark);
  font-size: 0.875rem; /* 14px */
  text-transform: lowercase;
}

th,
td {
  font-family: Tahoma, Verdana, sans-serif, Arial;
  padding: 0.3125rem; /* 5px */
  text-align: center;
  border-bottom: 0.0625rem solid gray; /* Borda inferior */
  border-left: 0.0625rem solid var(--scrollbar-color);
  border-right: 0.0625rem solid var(--scrollbar-color);
}

.nome {
  text-align: left;
}

/* Remover borda da última coluna */
th:last-child,
td:last-child {
  border-right: 1px solid var(--scrollbar-hover);
}

/* Botões dentro da tabela */
.btn-apagar {
  color: var(--text-dark);
}

/* -------------------- Largura de Colunas -------------------- */

.month {
  table-layout: fixed;
  width: 100%;
}

.month th:nth-child(1) {
  /* Despesa */
  width: 9%;
  max-width: 9%;
  min-width: 9%;
}

.month th:nth-child(2) {
  /* Despesa */
  width: 35%;
  max-width: 35%;
  min-width: 35%;
}

.month th:nth-child(3) {
  /* Valor */
  width: 22%;
  max-width: 22%;
  min-width: 22%;
}

.month th:nth-child(4) {
  /* Vencimento */
  width: 25%;
  max-width: 25%;
  min-width: 25%;
}

.month th:nth-child(5) {
  /* Status */
  width: 16%;
  max-width: 16%;
  min-width: 16%;
}

.month th:nth-child(6) {
  /* Despesa */
  width: 24%;
  max-width: 24%;
  min-width: 24%;
}

.month th:nth-child(7) {
  /* Despesa */
  width: 20%;
  max-width: 20%;
  min-width: 20%;
}

/* -------------------- Tema -------------------- */

/* Modo Escuro */
.dark-theme tbody tr:nth-child(even) {
  background-color: rgb(44, 44, 44);
}

.dark-theme tbody tr:nth-child(odd) {
  background-color: black;
}

/* Modo Claro */
.light-theme tbody tr:nth-child(even) {
  background-color: rgb(209, 208, 208);
}

.light-theme tbody tr:nth-child(odd) {
  background-color: white;
}

/* -------------------- Estilos de Botões -------------------- */

button {
  background: none;
  border: none;
  color: var(--text-light);
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 0.3125rem 0.625rem; /* 5px 10px */
  border-radius: 0.3125rem; /* 5px */
}

button:hover {
  transform: scale(1.1);
}

/* Ações Específicas */
button.pagar {
  color: var(--button-paid);
}

button.editar {
  color: var(--button-pending);
}

button.remover {
  color: var(--button-remove);
}

button.pagar,
button.editar,
button.remover {
  font-size: 0.875rem;
}

button.pagar {
  font-size: 0.84rem;
}

/* Botão Desabilitado */
button.status-pago {
  color: var(--status-paid);
  cursor: not-allowed;
  pointer-events: none;
}

/* -------------------- Filtro -------------------- */

.filter-select {
  background-color: var(--button-menu-selected); /* Fundo claro */
  border: none; /* Borda cinza */
  border-radius: 5px; /* Cantos arredondados */
  font-family: Tahoma, Verdana, sans-serif, Arial;
  font-size: 0.875rem; /* 14px */
  font-weight: bold;
  color: var(--text-dark); /* Cor do texto */
  cursor: pointer;
  text-align: center;
}

.filter-select:hover {
  background-color: var(--button-menu-selected); /* Fundo ao passar o mouse */
}

/* Estilo das opções dentro do select */
.filter-select option {
  background-color: var(--text-dark); /* Cor de fundo das opções */
  color: var(--text-light); /* Cor do texto das opções */
  padding: 8px 12px; /* Ajuste no espaçamento */
}

.filter-select option:hover {
  background-color: var(--button-menu-selected); /* Cor de fundo das opções */
  color: var(--text-light); /* Cor do texto das opções */
}

/* Estilo para quando a opção é selecionada */
.filter-select option:checked {
  background-color: var(--text-dark); /* Cor de fundo da opção selecionada */
  color: var(--button-menu-selected); /* Cor do texto da opção selecionada */
  font-weight: bold;
}

.mensagem-sem-despesas {
  text-align: center;
  font-style: italic;
  color: gray;
}

/* Botões dentro das células da tabela */
td button {
  margin: 0;
  padding: 0.3125rem; /* 5px */
  font-size: 0.875rem; /* 14px */
  margin-right: 0.625rem; /* 10px */
}

td button:last-child {
  margin-right: 0; /* Remove o espaçamento do último botão */
}
