/* -------------------- Contêiner -------------------- */

.container__month {
  background-color: transparent;
  color: var(--text-light);
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  height: 676px;
  max-height: 800px;
  overflow-y: auto;
}

.container__month::-webkit-scrollbar {
  width: 8px;
}

.container__month::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 4px;
}

.container__month::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}

.container__month > p {
  margin-left: 10px;
}

/* -------------------- Tabela -------------------- */

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}

table.month {
  border-collapse: separate; /* Necessário para bordas arredondadas */
  border-spacing: 0; /* Remove espaços entre células */
  border-radius: 8px; /* Define o raio das bordas arredondadas */
  overflow: hidden; /* Garante que os conteúdos sigam o formato */
  border: 1px solid grey; /* Bordas da tabela */
}

thead {
  background-color: var(--button-menu-selected);
  color: var(--text-light);
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid gray;
  border-left: 1px solid var(--scrollbar-color);
  border-right: 1px solid var(--scrollbar-color); /* Divisória entre colunas */
}

th:last-child,
td:last-child {
  /* Remove a borda da última coluna */
  border-right: 1px solid var(--scrollbar-hover);
}

/* -------------------- Largura de colunas -------------------- */

th:first-child,
td:first-child {
  width: 5%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 31%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 10%;
}

th:nth-child(5),
td:nth-child(5) {
  width: 10%;
}

th:last-child(6),
td:last-child(6) {
  width: 5%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* -------------------- Theme -------------------- */

/* Estilo para o modo escuro */
.dark-theme tbody tr:nth-child(even) {
  background-color: rgb(44, 44, 44);
  color: white;
}

.dark-theme tbody tr:nth-child(odd) {
  background-color: black;
}

/* Estilo para o modo claro */
.light-theme tbody tr:nth-child(even) {
  background-color: rgb(209, 208, 208);
  color: gray;
}

.light-theme tbody tr:nth-child(odd) {
  background-color: white;
  color: grey;
}

/* -------------------- Status -------------------- */

.status-pago {
  color: var(--status-paid);
  font-weight: bold;
  text-align: center;
}

.status-pendente {
  color: var(--status-pending);
  font-weight: bold;
  text-align: center;
}

.status-vencido {
  color: var(--status-due);
  font-weight: bold;
  text-align: center;
}

.status-hoje {
  color: var(--status-today);
  font-weight: bold;
  text-align: center;
}

/* -------------------- Botões -------------------- */

button {
  background: none;
  border: none;
  color: var(--text-light);
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease;
  padding: 5px 10px;
  border-radius: 5px;
}

button:hover {
  transform: scale(var(--button-hover-scale));
}

/* Ações específicas */
button.pagar {
  color: var(--status-paid);
}

button.editar {
  color: rgb(81, 81, 255);
}

button.remover {
  color: var(--status-due);
}

/* Botão desabilitado */
button.status-pago {
  color: #a9a9a9;
  cursor: not-allowed;
  pointer-events: none;
}

/* -------------------- Filtro -------------------- */

.filter-select {
  background-color: var(--button-menu-selected); /* Fundo claro */
  border: none; /* Borda cinza */
  border-radius: 5px; /* Cantos arredondados */
  padding: 5px 10px; /* Espaçamento interno */
  font-size: 14px; /* Tamanho da fonte */
  font-weight: bold;
  color: white; /* Cor do texto */
  cursor: pointer; /* Cursor de seleção */
  text-align: center;
}

.filter-select:hover {
  background-color: var(--button-menu-selected); /* Fundo ao passar o mouse */
}

.filter-option {
  background-color: red;
  color: #000; /* Ajuste conforme o contraste desejado */
}
