@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* =============================== */
/*          Reset Geral            */
/* =============================== */
* {
  border: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

/* =============================== */
/*          Variáveis Globais      */
/* =============================== */
:root {
  --scrollbar-color: #888;
  --scrollbar-hover: #555;
  --input-focus-border: #4caf50;
  --button-menu-hover: #2290a1;
  --button-menu-selected: #2290a1;
  --button-menu-color: #fff;
  --button-paid: rgb(37, 150, 37);
  --button-pending: rgb(1, 114, 180);
  --button-remove: crimson;
  --text-light: grey;
  --text-dark: whitesmoke;
  --background-dark: yellow;
  --background-light: white;
  --primary-color: gray;
  --status-paid: gray;
  --status-pending: #2290a1;
  --status-due: crimson;
  --status-today: rgb(255, 123, 0);
  --button-hover-scale: 1.1;
  color: crimson;
}

/* =============================== */
/*          Ajustes para Status    */
/* =============================== */
.status-pago {
  color: var(--status-paid);
  text-align: center;
}

.status-pendente {
  color: var(--status-pending);
  text-align: center;
}

.status-vencido {
  color: var(--status-due);
  text-align: center;
}

.status-hoje {
  color: var(--status-today);
  text-align: center;
}

button.status-pago {
  color: #353b48;
  cursor: not-allowed;
}

/* =============================== */
/*       Configurações Globais     */
/* =============================== */
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-light);
  color: grey;
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

/* =============================== */
/*         Tema Claro e Escuro     */
/* =============================== */
.dark-theme {
  background-color: black;
  color: var(--text-dark);
}

.light-theme {
  background-color: var(--background-light);
  color: var(--text-light);
}

/* Variáveis de cores para os temas */
body.light-theme {
  --modal-edit-title-color: #2290a1;
  --modal-del-title-color: crimson;
  --modal-content-color: #333333;
  --modal-btn-edit-cancel-bg: #e0e0e0;
  --modal-btn-edit-cancel-text: #6c757d;
  --modal-btn-edit-cancel-bg-hover: #f8f9fa;
  --modal-btn-edit-cancel-text-hover: #2290a1;
  --modal-btn-edit-confirm-bg: #e0e0e0;
  --modal-btn-edit-confirm-text: #6c757d;
  --modal-btn-edit-confirm-bg-hover: #f8f9fa;
  --modal-btn-edit-confirm-text-hover: #2290a1;
  --modal-btn-del-cancel-bg: #424242;
  --modal-btn-del-cancel-text: #bbbbbb;
  --modal-btn-del-cancel-bg-hover: #333333;
  --modal-btn-del-cancel-text-hover: #ffffff;
  --modal-btn-del-confirm-bg: crimson;
  --modal-btn-del-confirm-text: #ffffff;
  --modal-btn-del-confirm-bg-hover: crimson;
  --modal-btn-del-confirm-text-hover: #ffffff;
}

body.dark-theme {
  --background-dark: #353b48;
  --modal-edit-bg: #2290a1;
  --modal-edit-title-color: #fff;
  --modal-edit-content-color: #fff;
  --modal-del-bg: black;
  --modal-del-title-color: crimson;
  --modal-del-content-color: white;
  --modal-btn-edit-cancel-bg: #e0e0e0;
  --modal-btn-edit-cancel-text: #6c757d;
  --modal-btn-edit-cancel-bg-hover: #f8f9fa;
  --modal-btn-edit-cancel-text-hover: #2290a1;
  --modal-btn-edit-confirm-bg: #e0e0e0;
  --modal-btn-edit-confirm-text: #6c757d;
  --modal-btn-edit-confirm-bg-hover: #f8f9fa;
  --modal-btn-edit-confirm-text-hover: #2290a1;
  --modal-btn-del-cancel-bg: #424242;
  --modal-btn-del-cancel-text: #bbbbbb;
  --modal-btn-del-cancel-bg-hover: #333333;
  --modal-btn-del-cancel-text-hover: #ffffff;
  --modal-btn-del-confirm-bg: crimson;
  --modal-btn-del-confirm-text: #ffffff;
  --modal-btn-del-confirm-bg-hover: crimson;
  --modal-btn-del-confirm-text-hover: #ffffff;
}

/* =============================== */
/*          Tipografia             */
/* =============================== */
html {
  font-size: 50%; /* Base para rem */
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Impede a rolagem */
}

body {
  margin: 3rem;
  font-family: Tahoma, Verdana, sans-serif, Arial;
}

@media (max-width: 768px) {
  html {
    font-size: 0.875rem; /* Reduz base em telas menores */
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px; /* Aumenta base em telas maiores */
  }
}

/* =============================== */
/*          Ícones                 */
/* =============================== */
.container__footer i {
  color: var(--icon-color); /* Usando variáveis de tema */
  transition: color 0.3s ease; /* Suaviza mudanças de cor */
}

/* =============================== */
/*          Scrollbar              */
/* =============================== */
::-webkit-scrollbar {
  width: 0.75rem; /* 12px */
  height: 0.75rem; /* 12px */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.625rem; /* 10px */
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 0.625rem; /* 10px */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-color) transparent;
}

/* =============================== */
/*          Botões                 */
/* =============================== */
button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  padding: 0.3125rem 0.625rem; /* 5px 10px */
  border-radius: 0.3125rem; /* 5px */
}

button:hover {
  transform: scale(var(--button-hover-scale));
}
