@import "@angular/material/prebuilt-themes/indigo-pink.css";

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Estilo padrão (modo claro) */
body {
  background-color: white;
  color: grey;
}

/* Estilo para o modo escuro */
.dark-theme {
  background-color: #121212;
  color: white;
}

/* Estilo global para modo claro */
body.light-theme {
  --primary-text-color: grey;
  --icon-color: grey; /* Cor dos ícones no modo claro */
}

/* Estilo global para modo escuro */
body.dark-theme {
  --primary-text-color: white;
  --icon-color: white; /* Cor dos ícones no modo escuro */
}

html,
body {
  height: 90%;
}
body {
  margin: 85px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo dos ícones */
.container__footer i {
  color: var(--icon-color); /* Usando a variável CSS para a cor dos ícones */
  transition: color 0.3s; /* Suaviza a transição da cor */
}

/* -------------------- Variáveis de cores -------------------- */

:root {
  --background-dark: #2f3640;
  --background-light: #353b48;
  --button-menu-hover: #1cb3ca;
  --button-menu-selected: #1cb3ca;
  --button-menu-color: #fff;
  --primary-color: gray;
  --text-light: #fff;
  --scrollbar-color: #888;
  --scrollbar-hover: #555;
  --status-paid: rgb(9, 190, 9);
  --status-pending: rgb(1, 114, 180);
  --status-due: red;
  --status-today: rgb(255, 123, 0);
  --button-hover-scale: 1.1;
}
