.container__add-despesa {
  height: 42.125rem; /* 676px -> 42.125rem */
  max-width: 43.75rem; /* 700px -> 43.75rem */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 90%; /* Garante que o form ocupe toda a largura disponível */
  max-width: 31.25rem; /* 500px -> 31.25rem (removido o valor anterior para consistência) */
  margin-top: 1.25rem; /* 20px -> 1.25rem */
}

.form-control {
  width: 100%; /* Garante que os inputs preencham a largura do form */
  margin-bottom: 0.625rem; /* 10px -> 0.625rem */
  padding: 0.625rem; /* 10px -> 0.625rem */
  font-size: 1rem; /* 16px -> 1rem */
  font-family: Tahoma, Geneva, Verdana, sans-serif, Arial;
  border-radius: 0.3125rem; /* 5px -> 0.3125rem */
  border: 0.0625rem solid grey; /* 1px -> 0.0625rem */
  border-style: double;
  color: #726b6a;
}

p {
  width: 100%;
  height: 7%;
  /* border: 0.0625rem solid grey; */
  border-top-left-radius: 1rem solid gray; /* Arredonda o canto superior esquerdo */
  border-top-right-radius: 1rem solid gray; /* Arredonda o canto superior direito */
  padding: 0.4rem; /* 5px */
  background-color: #1cb3ca;
  color: white;
  font-family: Tahoma, Geneva, Verdana, sans-serif, Arial;
  font-size: 0.875rem; /* 16px -> 1rem */
  font-weight: bold;
  display: flex;
  justify-content: center;
}

button.btn-info {
  background-color: transparent;
  border: 0.0625rem solid grey; /* 1px -> 0.0625rem */
  border-style: double;
  padding: 0.5rem; /* 8px -> 0.5rem */
  color: var(--primary-bg-color);
  font-size: 1rem; /* 16px -> 1rem */
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.3125rem; /* 5px -> 0.3125rem */
  transition: background-color 0.3s ease, color 0.3s ease;
}

button.btn-info:hover {
  color: var(--button-menu-hover); /* Cor do texto no hover */
  font-weight: bold;
  padding: 0.5rem; /* Ajuste o padding para ter um espaço adequado */
  border-radius: 0.3125rem;
  background-clip: padding-box;
}

.text-danger {
  color: red;
  margin-bottom: 0.625rem; /* 10px -> 0.625rem */
}

.form-group-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.625rem; /* 10px -> 0.625rem */
  border: 0.0625rem solid grey; /* 1px -> 0.0625rem */
  border-radius: 0.3125rem; /* 5px -> 0.3125rem */
  border-style: dotted;
}

.form-group-checkbox {
  display: flex;
  align-items: center;
}

.form-group-btn-btn-info {
  display: flex;
  justify-content: space-around;
  gap: 1.375rem; /* 22px -> 1.375rem */
}

.repeticao-container {
  margin-top: 0.625rem; /* 10px -> 0.625rem */
  display: flex;
  align-items: center;
  margin-left: 0.625rem; /* 10px -> 0.625rem */
}

.repeticao-container .form-control {
  width: 6.875rem; /* 110px -> 6.875rem */
  height: 1.875rem; /* 30px -> 1.875rem */
}

input.form-control,
textarea.form-control {
  box-sizing: border-box;
}

input.form-control:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}
