<div class="container__add-despesa">
  <div class="col-md-12 p-3 border">
    <form [formGroup]="despesaForm" (ngSubmit)="adicionarDespesa()">
      <div class="form-group">
        <input type="text" id="nome" class="form-control" formControlName="nome" placeholder="Nome da Despesa" />
        <div *ngIf="despesaForm.get('nome')?.invalid && despesaForm.get('nome')?.touched" class="text-danger">
          Nome é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <input type="text" id="valor" class="form-control" formControlName="valor" placeholder="Ex.: 123,99" />
        <div *ngIf="despesaForm.get('valor')?.hasError('pattern') && despesaForm.get('valor')?.touched"
          class="text-danger">
          Insira um valor válido! Ex.: 123.99
        </div>
      </div>

      <div class="form-group">
        <input type="date" id="vencimento" class="form-control" formControlName="vencimento" placeholder="Vencimento" />
        <div *ngIf="despesaForm.get('vencimento')?.invalid && despesaForm.get('vencimento')?.touched"
          class="text-danger">
          Vencimento é obrigatório.
        </div>
      </div>
      <!-- Opção de repetir despesa nos próximos meses -->
      <!-- <div>
        <label for="repetir">Repetir nos próximos meses</label>
        <input id="repetir" type="checkbox" formControlName="repetir" />
      </div> -->
      <div class="form-group text-center">
        <button type="submit" class="btn btn-info" [disabled]="despesaForm.invalid">Adicionar Despesa</button>
      </div>
    </form>
  </div>
</div>