<div class="add-title">
  <p>Adicionar Despesa</p>
</div>

<div class="container__add-despesa">
  <form [formGroup]="despesaForm" (ngSubmit)="onSubmit()" novalidate>
    <!-- Nome -->
    <mat-form-field appearance="fill" class="form-group full-width">
      <mat-label>Despesa</mat-label>
      <input
        matInput
        type="text"
        id="nome"
        formControlName="nome"
        (input)="onNomeInput($event)"
        aria-label="Nome da despesa"
      />
      <mat-error
        *ngIf="
          despesaForm.get('nome')?.invalid &&
          (despesaForm.get('nome')?.touched || formEnviado)
        "
      ></mat-error>
    </mat-form-field>

    <!-- Categoria -->
    <mat-form-field appearance="fill" class="form-group full-width">
      <mat-label>Categoria</mat-label>
      <mat-select
        id="categoria"
        formControlName="categoria"
        aria-label="Categoria da despesa"
      >
        <mat-option value="" disabled></mat-option>
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">{{
          categoria
        }}</mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          despesaForm.get('categoria')?.invalid &&
          (despesaForm.get('categoria')?.touched || formEnviado)
        "
      ></mat-error>
    </mat-form-field>

    <!-- Valor -->
    <mat-form-field appearance="fill" class="form-group full-width">
      <mat-label>Valor - Ex.: 123.99</mat-label>
      <input
        matInput
        type="text"
        id="valor"
        formControlName="valor"
        aria-label="Valor da despesa"
        (keypress)="verificarInput($event)"
      />
      <mat-error
        *ngIf="
          despesaForm.get('valor')?.invalid &&
          (despesaForm.get('valor')?.touched || formEnviado)
        "
      ></mat-error>
    </mat-form-field>

    <!-- Vencimento -->
    <mat-form-field appearance="fill" class="form-group full-width">
      <mat-label>Data de vencimento</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="vencimento"
        aria-label="Data de vencimento"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="
          despesaForm.get('vencimento')?.invalid &&
          (despesaForm.get('vencimento')?.touched || formEnviado)
        "
      ></mat-error>
    </mat-form-field>

    <!-- Repetições -->
    <mat-form-field appearance="fill" class="form-group full-width">
      <mat-label>Repetições (0 a 11)</mat-label>
      <input
        matInput
        type="number"
        id="repeticoes"
        formControlName="repeticoes"
        placeholder="Repetições"
        (keydown)="onKeyDown($event)"
        (input)="validarRepeticoes($event)"
        min="0"
        max="11"
      />
      <mat-error
        *ngIf="
          despesaForm.get('repeticoes')?.invalid &&
          (despesaForm.get('repeticoes')?.touched || formEnviado)
        "
      ></mat-error>
    </mat-form-field>

    <!-- Botões -->
    <div class="form-group-botoes">
      <button
        mat-raised-button
        type="button"
        (click)="resetForm()"
        aria-label="Cancelar preenchimento"
      >
        Cancelar
      </button>
      <button mat-raised-button type="submit" aria-label="Adicionar despesa">
        Adicionar
      </button>
    </div>
  </form>
</div>
