/* Estilização do container do modal */
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--modal-del-bg);
}

/* Estilizar o título do diálogo */
.mat-dialog-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.custom-title {
  color: var(--modal-del-title-color); /* Cor do título */
}

.custom-message {
  color: whitesmoke; /* Altere para a cor desejada */
  font-size: 1rem;
  margin: 1.5rem 0;
}

/* Estilizar os botões das ações */
.mat-dialog-actions {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem; /* Espaçamento entre os botões */
  margin-top: 1rem;
}

/* Estilizar os botões */
button {
  min-width: 8rem;
  border-radius: 0.25rem; /* Bordas arredondadas */
  transition: background-color 0.3s, color 0.3s; /* Suavizar alterações de cor */
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

/* Botão de cancelar */
button.cancel {
  background-color: var(--modal-btn-del-cancel-bg);
  color: var(--modal-btn-del-cancel-text);
}

button.cancel:hover {
  background-color: var(--modal-btn-del-cancel-bg-hover);
  color: var(--modal-btn-del-cancel-text-hover);
}

/* Botão de confirmar */
button.confirm {
  background-color: var(--modal-btn-del-confirm-bg);
  color: var(--modal-btn-del-confirm-text);
}

button.confirm:hover {
  background-color: var(--modal-btn-del-confirm-bg-hover);
  color: var(--modal-btn-del-confirm-text-hover);
}

/* Botão desabilitado */
button:disabled {
  background-color: #cccccc;
  color: #999999;
  cursor: not-allowed;
}
