/* Título */
.custom-title {
  color: crimson;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.2rem 0.2rem 0 0;
  margin-bottom: 0.5rem;
}

/* Informações da despesa */
.expense-info {
  margin-top: 15px;
  margin-bottom: 1rem;
  margin-left: 66px;
  font-size: 1rem;
  text-align: left;
  color: var(--modal-text-color);
  display: block;
  justify-content: center;
}

/* Estilo para o conteúdo da mensagem */
.message-content {
  font-size: 1rem;
  color: var(--modal-text-color);
  text-align: center;
  margin-bottom: 1rem;
}

/* Centralizar o botão apenas para a classe center-actions */
.center-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =============================== */
/*         Ajustes de Modal        */
/* =============================== */
:host {
  /* Variáveis padrão (tema escuro) */
  --confirmation-dialog-btn-cancel-bg: #4b4a4a;
  --confirmation-dialog-btn-cancel-bg-hover: #2290a1;

  --confirmation-dialog-btn-cancel-text: #e0e0e0;
  --confirmation-dialog-btn-cancel-text-hover: white;

  --confirmation-dialog-btn-confirm-bg: #4b4a4a;
  --confirmation-dialog-btn-confirm-bg-hover: crimson;

  --confirmation-dialog-btn-confirm-text: #e0e0e0;
  --confirmation-dialog-btn-confirm-text-hover: white;
}

/* Tema Claro */
:host-context(body.light-theme) {
  --confirmation-dialog-btn-cancel-bg: #686666;
  --confirmation-dialog-btn-cancel-bg-hover: #2290a1;

  --confirmation-dialog-btn-cancel-text: #4b4a4a;
  --confirmation-dialog-btn-cancel-text-hover: #e0e0e0;

  --confirmation-dialog-btn-confirm-bg: #686666;
  --confirmation-dialog-btn-confirm-bg-hover: crimson;

  --confirmation-dialog-btn-confirm-text: #4b4a4a;
  --confirmation-dialog-btn-confirm-text-hover: #e0e0e0;
}

/* Tema Escuro */
:host-context(body.dark-theme) {
  --confirmation-dialog-btn-cancel-bg: #686666;
  --confirmation-dialog-btn-cancel-bg-hover: #2290a1;

  --confirmation-dialog-btn-cancel-text: #e0e0e0;
  --confirmation-dialog-btn-cancel-text-hover: white;

  --confirmation-dialog-btn-confirm-bg: #686666;
  --confirmation-dialog-btn-confirm-bg-hover: crimson;

  --confirmation-dialog-btn-confirm-text: #e0e0e0;
  --confirmation-dialog-btn-confirm-text-hover: white;
}

/* -------------------- Estilização dos Botões -------------------- */
.botoes {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  gap: 50px;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.botoes .cancel.mat-mdc-raised-button {
  background-color: var(--confirmation-dialog-btn-cancel-bg) !important;
  color: var(--confirmation-dialog-btn-cancel-text) !important;
  transition: background-color 0.3s, color 0.3s;
}

.botoes .cancel.mat-mdc-raised-button:hover {
  background-color: var(--confirmation-dialog-btn-cancel-bg-hover) !important;
  color: var(--confirmation-dialog-btn-cancel-text-hover) !important;
}

.botoes .confirm.mat-mdc-raised-button {
  background-color: var(--confirmation-dialog-btn-confirm-bg) !important;
  color: var(--confirmation-dialog-btn-confirm-text) !important;
  transition: background-color 0.3s, color 0.3s;
}

.botoes .confirm.mat-mdc-raised-button:hover {
  background-color: var(--confirmation-dialog-btn-confirm-bg-hover) !important;
  color: var(--confirmation-dialog-btn-confirm-text-hover) !important;
}

/* Estilo personalizado para o botão "Fechar" */
.close {
  background-color: #4b4a4a;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.close:hover {
  background-color: #0094a1;
  cursor: pointer;
}
