<div>
  <h2 class="custom-title">{{ data.title }}</h2>

  <p [innerHTML]="data.message" class="custom-message"></p>

  <mat-dialog-actions>

    <button *ngIf="data.type === 'confirmation'" mat-raised-button class="cancel" (click)="onCancel()">
      Não
    </button>
    <button *ngIf="data.type === 'confirmation'" mat-raised-button color="primary" class="confirm"
      (click)="onConfirm()">
      Sim
    </button>

    <button *ngIf="data.type === 'info'" mat-raised-button color="primary" class="close" (click)="onClose()">
      Fechar
    </button>
  </mat-dialog-actions>
</div>