/* -------------------- Estilização do Modal -------------------- */

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--modal-edit-bg);
}

::ng-deep .modal-content {
  background-color: var(--modal-bg);
  color: var(--modal-content-color);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
}

.modal.edit-despesa {
  background-color: var(--modal-edit-bg);
  border-radius: 0.5rem;
  padding: 1rem;
}

/* -------------------- Estilização do Título -------------------- */

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: var(--modal-edit-title-color);
}

/* -------------------- Estilização do Formulário -------------------- */

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

/* -------------------- Estilização dos Botões -------------------- */

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

button {
  min-width: 8rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

button[type="button"] {
  background-color: var(--modal-btn-edit-cancel-bg);
  color: var(--modal-btn-edit-cancel-text);
}

button[type="button"]:hover {
  background-color: var(--modal-btn-edit-cancel-bg-hover);
  color: var(--modal-btn-edit-cancel-text-hover);
}

button[type="submit"] {
  background-color: var(--modal-btn-edit-confirm-bg);
  color: var(--modal-btn-edit-confirm-text);
}

button[type="submit"]:hover {
  background-color: var(--modal-btn-edit-confirm-bg-hover);
  color: var(--modal-btn-edit-confirm-text-hover);
}

.mat-calendar-body-cell {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.mat-calendar-body-cell-content {
  font-size: 14px;
  font-weight: bold;
}

body.light-mode .mat-calendar-body-selected {
  background-color: var(--selected);
  color: var(--bs-info);
}
