<h2>Editar Despesa</h2>
<form (ngSubmit)="salvarEdicao()">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="despesa.nome" name="nome">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Categoria</mat-label>
    <mat-select [(ngModel)]="despesa.categoria" name="categoria" required>
      <mat-option value="" disabled>Selecione a Categoria da Despesa</mat-option>
      <mat-option *ngFor="let categoria of categorias" [value]="categoria">
        {{ categoria }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="!despesa.categoria">Categoria é obrigatória.</mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Valor</mat-label>
    <input matInput type="text" [(ngModel)]="despesa.valor" name="valor" (input)="formatarValor($event)"
      placeholder="Ex.: 123.45">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Vencimento</mat-label>
    <input matInput type="date" [(ngModel)]="despesa.vencimento" name="vencimento">
  </mat-form-field>

  <div class="modal-actions">
    <button mat-raised-button type="button" (click)="fechar()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Salvar</button>
  </div>
</form>