.container__content {
  width: 70%;
  height: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.app-menu {
  flex: 0;
}

.app-month {
  flex: 7;
}

.app-add-despesa {
  flex: 3;
  border: 1px solid grey;
  border-style: double;
  border-radius: 5px;
}
