/* -------------------- Contêiner do Menu -------------------- */
.menu__container {
  width: 80px;
  height: 700px;
  color: var(--primary-text-color);
}

/* -------------------- Botões de Mês -------------------- */
.month-buttons {
  width: 100%;
  max-width: 300px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8.4px;
  max-height: 100vh;
  box-sizing: border-box;
}

/* -------------------- Estilo de Botões -------------------- */
.month-buttons button {
  background-color: var(--primary-bg-color);
  width: 100%;
  margin-left: 0px;
  border: 1px solid grey;
  border-style: double;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 0.875rem;
  text-transform: capitalize;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* -------------------- Hover e Seleção -------------------- */
.month-buttons button:hover {
  color: var(--button-menu-hover);
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  background-clip: padding-box;
}

.month-buttons button.selected {
  background-color: var(--button-menu-selected);
  color: var(--button-menu-color);
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  background-clip: padding-box;
}

/* -------------------- Acessibilidade -------------------- */

button:focus {
  outline: 1px solid var(--primary-color);
  outline-offset: 1px;
}
