<footer class="container__footer">
  <div class="botton">
    <p>
      Aplicativo de controle de finanças &nbsp;|&nbsp; © Todos os direitos
      reservados &nbsp;|
      <a
        href="https://alexandrelorena.github.io"
        target="_blank"
        rel="noopener noreferrer"
        class="name"
      >
        Alexandre Lorena
      </a>
      &nbsp;-&nbsp;
      <a
        href="https://github.com/alexandrelorena"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-github"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/alexandrelorena-developer/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      &nbsp;| &nbsp;{{ todayFormatted }}
    </p>
  </div>
</footer>
