<div class="container__footer">
  <div class="botton">
    <p>Aplicativo de controle de despesas | © Todos os direitos reservados | Alexandre Lorena &nbsp;-
      <a href="https://github.com/alexandrelorena" target="_blank" class="text-secondary">
        &nbsp;<i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/alexandrelorena-developer/" target="_blank" class="text-secondary ml-2">
        <i class="fab fa-linkedin"></i>
      </a>
      | {{ todayFormatted }}
    </p>

  </div>

</div>
